
<div class="py-5 border-top">
  <div class="container">

    <div class="row">

      <div class="col-sm">
        <ul class="list-unstyled">
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
                <a href="mailto:mpierre2@ufl.edu">
                    mpierre2@ufl.edu
                </a>
            </li>
          {%- endif -%}
          <li>
              <a href="https://twitter.com/meshach_pierre" target="_blank">
                <img src="{{ my_page.url | relative_url }}/assets/images/twitter.png" >
              </a>
              <a href="https://www.instagram.com/meshachpierre/" target="_blank">
                  <img src="{{ my_page.url | relative_url }}/assets/images/instagram.png" >
              </a>
              <a href="https://www.linkedin.com/in/meshach-pierre-7ba1017b/" target="_blank">
                  <img src="{{ my_page.url | relative_url }}/assets/images/linkedin.png" >
              </a>
              <a href="http://guianensis.wordpress.com/" target="_blank">
                  <img src="{{ my_page.url | relative_url }}/assets/images/guianensis.png" >
              </a>
              <a href="https://github.com/meshachpierre" target="_blank">
                  <img src="{{ my_page.url | relative_url }}/assets/images/github.png" >
              </a>
          </li>
        </ul>
      </div>

      <div class="col-sm text-right">
        <p>
          <a href="https://nicolas-van.github.io/bootstrap-4-github-pages/" target="_blank">Powered by Bootstrap 4 Github Pages</a>
          <a href="https://github.com/will2bill/will2bill.github.io" target="_blank">Inspiration from Will2Bill</a>
            <br>
          <a href="https://github.com/meshachpierre/meshachpierre.github.io" target="_blank">Website Repository</a>
        </p>
      </div>

    </div>

  </div>
</div>
