<div class="card card-portfolio w-100 border-top-0 border-left-0 border-right-0 rounded-0 mb-3">
    <div class="card-body px-0 pt-0 pb-2">
        <h3 class="card-title mb-4">
            <a href="{{ site.baseurl }}{{ portfolio.url }}">{{ portfolio.title }}</a>
        </h3>
        <div class="image">
            <div>
                <div class="card-img" data-img="{{ portfolio.image }}">
                    <a href="{{ site.baseurl }}{{ portfolio.url }}"><img class="card-img" src="{{ portfolio.image }}" alt="image" /></a>
                </div>
            </div>
        </div>
    </div>
</div>